.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 360px;
    align-items: center;
}

.ducky {
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 12px;
    width: 300px;
    height: 300px;
    filter: drop-shadow(0 0 20px rgba(133, 184, 255, 0.575));
}

.arrow {
    position: fixed;
    left: 50%;
    cursor: pointer;
    color: #8a8a8a;
    transition: transform 0.2s;
    z-index: 10;
}

.arrowLeft {
    transform: translateX(-600px);
}

.arrowRight {
    transform: translateX(600px);
}

.arrow:hover {
    color: #c0c0c0;
}

.sliderWrapper {
    margin-top: 200px;
    width: 100%;
}

.slider {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slide {
    min-width: 600px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.4);
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.active {
    transform: scale(1);
    opacity: 1;
}

.cartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    font-weight: 900;
    font-style: italic;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #85B8FF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cartButton:hover {
    letter-spacing: 2px;
}

.price {
    font-weight: 200;
}

.name {
    font-size: 15px;
    font-weight: 100;
}

.pageTitle {
    position: relative;
    font-size: 60px;
    font-weight: 900;
    background: linear-gradient(90deg, #85B8FF, #0048ac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pageSubTitle {

}